.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .carousel-slide {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .carousel-slide-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .carousel-slide h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  
  .home-content {
    text-align: center;
  }
  
  .carousel-slide .slide-text {
    margin-bottom: 20px; 
  }
  .carousel-slide {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    margin: 0 auto; 
    max-width: 600px;
  }
  
  @media screen and (max-width: 600px) {
    .carousel-slide {
      max-width: calc(100% - 40px); 
      margin-left: 20px; 
      margin-right: 20px; 
    }
  }

  .play-button-container {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .input-button-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-right: 20px;
    margin-left:20px;
  }
  
  .join-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  .join-container input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: 2px solid #92400e;
    border-radius: 4px;
    /* Reducir el ancho del input para dejar espacio para el botón */
    width: calc(100% - 100px); /* Por ejemplo, ajusta el valor según sea necesario */
  }
  
  .join-container button {
    padding: 8px 16px;
    color: #fff;
    border: none;
    /* Asegurar que el botón tenga suficiente espacio */
    min-width: 100px; /* Por ejemplo, ajusta el valor según sea necesario */
  }
  
  .create-game-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .create-game-container button {
    width: 100%;
  }

  .app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px; 
  }
  
  .content-container {
    width: 100%;
    max-width: 600px;
  }
    